<section class="copyright py-5 text-center text-light bg-transparent">
  <div class="container-fluid">
    <small class="text-center text-black-50"><strong>Copyright &copy; Credishop 2021</strong></small>
  </div>
</section>