<h1>Editing Proponent</h1>

<%= render 'form', proponent: @proponent %>

<div class="row g-3">
  <div class="col-sm-6">  </div>

  <div class="col-sm"> 
    <%= render 'proponents/buttons/show' %>
  </div>

  <div class="col-sm justify-content-md-end">
  </div>
</div>
